body {
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
}

#smallText {
    font-size: 10px;
}

#margin {
    margin: 8px;
}

#margin-top {
    margin-top: 10px;
}

#logo {
    position: absolute;
    left:0;
    top:0;
}
